## What is Snowflake?

## Executing a query and viewing the results

### Analyzing the sales amount
Learn how to run an aggregated query and interpret the findings. The SALES_TRANSACTIONS table is under database COURSE_39090 in the STUDENT_STORE schema .

In [ ]:
SELECT SUM(AMOUNT) FROM SALES_TRANSACTIONS;

### Investigating product categories
It can be very useful to have multiple SQL worksheets to organize your analysis. Let's create your second worksheet and dive deeper into the data.

In [ ]:
SELECT SUM(PRODUCT_CATEGORY) FROM SALES_TRANSACTIONS;

## Monitoring Query and Copy History

In [ ]:
SELECT product, amount
FROM SALES_TRANSACTIONS
GROUP BY product, amount 
ORDER BY amount DESC;

### Exploring Python Worksheets
You've learned how to write some queries in SQL, but Snowflake can do much more than that! In this exercise you'll create your first Python Worksheet and execute your first lines of Python code. Don't worry if you don't know how to code, we'll provide the code for you.